.Header{
  display: flex;
  flex-direction: row;
}
.rcard{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  /* gap: 20px; */
  font-family:'Montserrat',sans-serif;
  padding: 30px;
  margin: 10px;
  width:200px;
 }

.cardimage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  /* border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333; */
}

.cardcontent {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  /* border-right: 2px solid #333333;
  border-left: 2px solid #333333; */
}

.cardcontent > p:first-of-type {
  margin-top: 0;
}

.cardcontent > p:last-of-type {
  margin-bottom: 0;
}

.cardinfo {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  /* border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333; */
}

.cardlink{
  color: #64968c;
  text-decoration: none;
}

.cardlink:hover {
  text-decoration: underline;
} 
.cookbooktext{
    text-align: left;
    font-family: 'Montserrat',sans-serif;
    color:#365265;
    font-weight:600;
    letter-spacing: 1px;
    font-size: 50px;
    margin: 20px;
}
.searching{
    width: 40%;
    border: 2px solid #f4f4f4; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 40px;
    background-color: #f4f4f4;
    outline:none;
    background-image: url("../images/searchicon.png");
    background-repeat: no-repeat;
    background-position: 10px;  
    
  }
  form{
    display: inline-block !important;
    padding-top:30px ;
    margin:auto;
    width: 40%;
  }
  .Search-Form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .maincontainer{
    display: flex;
    flex-direction: row;
  }
  
  .SideBar{
    border-right-style: groove;
    width:fit-content;
   
    
  }
  ul{
    text-align: left;
    font-family: 'Montserrat',sans-serif;
    color:grey;
    letter-spacing: 1px;
    margin: 20px;
    list-style-type: none;
  }
.container-1 div{
    display:inline-block;
    /* grid-gap: 30px;
    margin: 30px;
    grid-template-columns: 40px auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 200px;
    height: 200px;
    background-color:grey; */
   
}
